.cookie-message {
    box-sizing: border-box;
    background-color: #e5e5e5;
    color: #000000;
    padding: 16px 12px;

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }

    :last-child {
        margin-bottom: 0;
    }

    &.is-hidden,
    .is-hidden {
        display: none;
    }

    &__main {
        max-width: 1200px;
        margin: 0 auto;

        &::before,
        &::after {
            content: " ";
            display: table;
        }

        &::after {
            clear: both;
        }
    }

    &__title {
        width: 35%;
        float: left;
        font-size: 24px;
        margin: 0 auto;
    }

    &__content {
        width: 50%;
        float: left;
    }

    &__btns {
        width: 15%;
        float: left;
    }

    &__title,
    &__content {
        @media screen and (max-width: 1199px) {
            margin-bottom: 20px;
        }
    }

    &__title,
    &__content,
    &__btns {
        padding: 0 12px;

        @media screen and (max-width: 1199px) {
            width: auto;
            float: none;
        }
    }

    &__btn {
        display: block;
        width: 100%;
        padding: 6px 12px;
        border: 0;
        text-align: center;
        text-decoration: none;
        background-color: #444444;
        color: #ffffff;

        &:first-child {
            margin-bottom: 6px;
        }

        @media screen and (max-width: 1199px) {
            display: inline-block;
            margin: 0 auto;
            width: auto;
            font-size: 14px;

            &:first-child {
                margin-right: 6px;
            }
        }
    }

    &__disclaimer {
        width: auto;
        float: none;
        clear: both;
    }

    $base: &;

    &--modal,
    &--woocommerce {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1000;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

        &.is-visible {
            opacity: 1;
            visibility: visible;
        }

        &.is-hidden {
            display: block;
            visibility: hidden;
            opacity: 0;
        }

        #{$base}__inner {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            max-width: 800px;
            padding: 20px;
            transform: translate(-50%, -50%);
            background-color: white;
        }

        #{$base}__title,
        #{$base}__content,
        #{$base}__btns {
            width: auto;
            float: none;
        }

        #{$base}__title,
        #{$base}__content {
            margin-bottom: 20px;
        }

        #{$base}__btns {
            text-align: center;

            #{$base}__btn {
                display: inline-block;
                width: auto;
                min-width: 150px;
                max-width: 100%;
            }
        }
    }
}
